.gengar{
    position:absolute;
    bottom:-61px;
    left: 0;
    transform: scale(0.5,0.5);
    transition: opacity 1s;
    z-index: 2;
}
#gengarup {
    opacity: 0;
    bottom: -77px;
    left: -20px;
}

#gengardown {
    opacity: 0;
}
#basegengar {
    opacity: 1;
}
#gengar:hover #basegengar {
    animation-name: change;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
@keyframes change {
    0% {opacity: 1;}
    1% {opacity: 0;}
    100% {opacity: 0;}
}

#gengar:hover #gengarup {
    animation-name: windup;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
@keyframes windup {
    0% {opacity: 0;}
    1% {opacity: 1;}
    10% {left: -35px;}
    24% {
        opacity: 1;
        left: -35px;
    }
    25% {opacity: 0;}
    100% {opacity: 0;}
}

#gengar:hover #gengardown{
    animation-name: attack;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
@keyframes attack {
    24% {
        left: -25px;
        opacity: 0;
    }
    25% {
        left: -25px;
        opacity: 1;
    }
    50% {
        left: 20px;
        opacity: 1;
    }
    90% {
        left: 20px;
        opacity: 1;
    }
    100% {
        left: 0px;
        opacity: 1;
    }
    
}
#link:hover + #gengar .gengar, #link:hover ~ #nido .nidorino {
    opacity: 0;
}
body {
    font-family: Gameboy, arial;
}

#logoR {
    position: relative;
    width: 50%;
    left: 25%;
    top: 40%;
    animation-name: down;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes down {
    from { top: -15%}
    to { top: 40%}
}

.nidorino {
    position:absolute;
    bottom:-56px;
    left: 150px;
    transform: scale(0.5,0.5);
    transition: opacity 1s;
}

#basenidorino {
    opacity: 1;
}

#nidojump {
    opacity: 0;
}

#nidoflinch {
    opacity: 0;
}

#gengar:hover + #nido #basenidorino {
    animation-name: hit;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes hit {
    49% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 0;}
}

#gengar:hover + #nido #nidoflinch {
    animation-name: flinch;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes flinch {
    49% {opacity: 0;}
    50% {
        opacity: 1;
        transform: translate(0, 0px) scale(0.5,0.5);
    }
    75% {
        opacity: 1;

        transform: translate(50px, -50px) scale(0.5,0.5);
    }
    100% {
        opacity: 1;
        transform: translate(100px, 0px) scale(0.5,0.5);
    }
}