.gengar{
    position:absolute;
    bottom:-61px;
    left: 0;
    transform: scale(0.5,0.5);
    transition: opacity 1s;
    z-index: 1;
}
#gengarup {
    opacity: 0;
    bottom: -77px;
    left: -20px;
}

#gengardown {
    opacity: 0;
}
#basegengar {
    opacity: 1;
}
#gengar:hover #basegengar {
    animation-name: change;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
@keyframes change {
    0% {opacity: 1;}
    1% {opacity: 0;}
    100% {opacity: 0;}
}

#gengar:hover #gengarup {
    animation-name: windup;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
@keyframes windup {
    0% {opacity: 0;}
    1% {opacity: 1;}
    10% {left: -35px;}
    24% {
        opacity: 1;
        left: -35px;
    }
    25% {opacity: 0;}
    100% {opacity: 0;}
}

#gengar:hover #gengardown{
    animation-name: attack;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
@keyframes attack {
    24% {
        left: -25px;
        opacity: 0;
    }
    25% {
        left: -25px;
        opacity: 1;
    }
    50% {
        left: 20px;
        opacity: 1;
    }
    90% {
        left: 20px;
        opacity: 1;
    }
    100% {
        left: 0px;
        opacity: 1;
    }
    
}
#logoR:hover + #gengar .gengar, #logoR:hover ~ #nido .nidorino {
    opacity: 0;
}
body {
    font-family: Gameboy, arial;
}


#logoR {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 40%;
    animation-name: down;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 1;
}

@keyframes down {
    from { top: -15%}
    to { top: 40%}
}

.nidorino {
    position:absolute;
    bottom:-56px;
    left: 150px;
    transform: scale(0.5,0.5);
    transition: opacity 1s;
    z-index: 0;
}


#basenidorino {
    opacity: 1;

}

#nidojump {
    opacity: 0;
}

#nidoflinch {
    opacity: 0;
}

#gengar:hover + #nido #basenidorino {
    animation-name: hit;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 1s;
}

@keyframes hit {
    0% {opacity: 0;}
    74% {opacity: 0;}
    75% {
        opacity: 1;
        transform: translate(100px, 0px) scale(0.5,0.5);
    }
    100% {transform: translate(0px, 0px) scale(0.5,0.5);}
}

#gengar:hover + #nido #nidoflinch {
    animation-name: flinch;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 1s;
}

@keyframes flinch {
    0% {
        opacity: 1;
        transform: translate(0, 0px) scale(0.5,0.5);
    }
    25% {
        opacity: 1;

        transform: translate(50px, -50px) scale(0.5,0.5);
    }
    50% {
        opacity: 1;
        transform: translate(100px, 8px) scale(0.5,0.5);
    }
    74% {
        opacity: 1;
        transform: translate(100px, 8px) scale(0.5,0.5);
    }
    75% {opacity: 0;}
}

#nido:hover #basenidorino {
    animation-name: hop;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes hop {
    5% {transform: translate(10px, -10px) scale(0.5,0.5);}
    10% {transform: translate(20px, 0px) scale(0.5,0.5);}
    15% {transform: translate(10px, -10px) scale(0.5,0.5);}
    20% {transform: translate(0px, 0px) scale(0.5,0.5);}
    25% {transform: translate(10px, -10px) scale(0.5,0.5);}
    30% {transform: translate(20px, 0px) scale(0.5,0.5);}
    35% {transform: translate(10px, -10px) scale(0.5,0.5);}
    40% {transform: translate(0px, 0px) scale(0.5,0.5);}
    45% {transform: translate(0px, 0px) scale(0.5,0.5);}
    50% {transform: translate(50px, -50px) scale(0.5,0.5);}
    55% {transform: translate(100px, 0px) scale(0.5,0.5);}
    59% {
        transform: translate(100px, 0px) scale(0.5,0.5);
        opacity: 1;
    }
    60% {opacity: 0;}
    100% {opacity: 0;}
}

#nido:hover #nidojump {
    animation-name: jump;
    animation-duration: 1.6s;
    animation-iteration-count: 1;
    animation-delay: 2.4s;
}

@keyframes jump {
    0% {
        opacity: 1;
        transform: translate(100px, 0px) scale(0.5,0.5);
    }
    25% {transform: translate(50px, -60px) scale(0.625,0.625);}
    50% {transform: translate(-20px, -30px) scale(0.75,0.75);}
    75% {transform: translate(-20px, -30px) scale(0.75,0.75);}
    87.5% {transform: translate(10px, -50px) scale(0.625,0.625);}
    100% {
        transform: translate(10px, 0px) scale(0.5,0.5);
        opacity: 1;
    }
}
div#block {
    z-index: 2;
    background-color: #e8e8e8;
    height: 350px;
    width: 400px;
    left: 30%;
}


#logoR:active ~ #nido .nidorino, #logoR:active + #gengar .gengar, #logoR:active {
    animation-name: screenswitch;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes screenswitch {
    to {
        z-index: -1;
        opacity: 0;
    }
}