
#room {
    position: absolute;
    transform: scale(2.5,2.5);
    top:-123%;/*top 37% bottom -123%*/
    left:-18%; 
    
    z-index:0;
    animation-timing-function: linear;
    animation-name: scroll;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
}

@keyframes scroll {
    0% {top:37%}
    100% {top: -123%}
}

#trainer {
    position: relative;
    transform: scale(2.8,2.8);
    top:-15%;
    left:84%;
    z-index: 5;
}


#walkMid {
    position: absolute;
    opacity: 1;
    animation-timing-function: linear;
    animation-name: walkMid;
    animation-duration: .8s;
    animation-iteration-count: 4
}


@keyframes walkMid {
    20% {opacity: 1}
    21% {opacity: 0}
    39% {opacity: 0}
    40% {opacity: 1}
    59% {opacity: 1}
    60% {opacity: 0}
    79% {opacity: 0}
    80% {opacity: 1}
    100% {opacity: 1}
}

#walkDR {
    position: absolute;
    opacity: 0;
    animation-timing-function: linear;
    animation-name: walkDR;
    animation-duration: .8s;
    animation-iteration-count: 4;
}


@keyframes walkDR {
    0% {opacity: 0}
    20% {opacity: 0}
    21% {opacity: 1}
    39% {opacity: 1}
    40% {opacity: 0}
    100% {opacity: 0}
}



#walkDL {
    position: absolute;
    opacity: 0;
    animation-timing-function: linear;
    animation-name: walkDL;
    animation-duration: .8s;
    animation-iteration-count: 4;
}

@keyframes walkDL {
    0% {opacity: 0}
    59% {opacity: 0}
    60% {opacity: 1}
    79% {opacity: 1}
    80% {opacity: 0}
    100% {opacity: 0}
}