#logoR {
    position: relative;
    width: 50%;
    left: 25%;
    top: 40%;
    animation-name: down;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes down {
    from { top: -15%}
    to { top: 40%}
}