
 @font-face { font-family: GameBoy; src: url('font/GameBoy.ttf'); } 

#background {
   background-color: black; 
}


#screen {
    position: fixed;

    background-color: #e8e8e8;
    height: 350px;
    width: 400px;
    left: 30%;
}

#elements {
    position: absolute;
    top:54%;
    left:50%;
    font-family: GameBoy, arial;
    height: 350px;
    width: 400px;
    
}


audio {
    width: 270px;
}    