/* Animation for the large POKEMON banner on the page.
 * At start of page logo will drop down from the top with a quick bounce effect.
 * On hoover will fade in/out a colorized version of the image.
 * This is accomplished with a separate .png that is positioned over the original
 * but starts with an opacity of 0.
 */
#logo {
    position: relative;
    right: 40%;
    bottom: 50%;
    
    animation-name: titleScroll;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
}

@keyframes titleScroll {
    0% {bottom: 100%}
    5% {bottom: 50%}
    8% {bottom: 55%}
    10%{bottom: 50%}
}


#colorLogo {
    position: absolute;
    right: 42%;
    bottom: 25.9%;  
    transform: scale(2.5,2.5);
    opacity: 0;
    z-index: 5;
}

#colorLogo:hover {
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes fadeIn {
    0% {opacity: 0%}
    50% {opacity: 100%}
    100% {opacity: 0%}
}

/* The text "CSS VERSION" will slide in from the right at startup from off screen */
#versionText {
    position: relative;
    bottom: 50%;
    right: 19%;
    word-spacing: 10px;
    color: darkred;
    font-size: 12pt;
    animation-name: textSnap;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
}

@keyframes textSnap { 
    0% {right: -60%}
    10% {right: -60%}
    20%{right: 19%}
}

/* Static image of trainer character.
 * Note that z-index is higher than the monsters
 * that scroll behind and the tossed ball.
 */
#trainer {
    position: relative;
    left: 10%;
    bottom:43%;
    transform: scale(2,2);
    z-index: 3;
}

#gameboy {
    position: absolute;
    right: 23%;
    bottom: 10%;
    transform: scale(1.38,1.27);
    z-index: 2;
}

/* Ball cycles on an 18s loop in sync with the 
 * scoll animation for the different pokemon.
 * The ball will pop up at the start of each loop in a
 * quick animation and wait for the remainder of the time.
 * This was timed to match the game which pops the ball
 * every 4-5 transitions or ~18 seconds. 
 */
#ball {
    position: relative;
    left:9.5%;
    bottom:52%;
    transform: scale(2,2);
    z-index: 2;
    
    animation-name: throw;
    animation-duration: 18s;
    animation-iteration-count: infinite;
}

@keyframes throw {
    0% {bottom: 52%}
    23% {bottom: 52%}
    24% {bottom: 58%} 
    24.8% {bottom: 52%}
    100%{bottom: 52%}
}

/* Copyright text to gamefreak lays at the bottom of the screen.
 * It has no animation, but the monospace font used needed some 
 * adjustment to fix the letter spacing so that it fits on screen.
 * It is not 100% accurate to the oirginal, but is close enough.
 */
#copyright {
    position: relative;
    right: 48%;
    bottom: 42%;
    font-size: 14pt;
    letter-spacing: -2px;
    word-spacing: -2px;
}

#spaceFix {
    letter-spacing: -6px;
}

/*
.pogey {
    position: relative;
    right: 22%;
    bottom: 41%;
    transform: scale(2,2);
    z-index: 1;
    
    animation-name: move;
    animation-duration: 4.5s;
    animation-iteration-count: 1;
}

@keyframes move {
    
    0% {right: -45%}
    25% {right: 18%}
    90% {right: 18%}
    100% {right: 87%}  
}
*/


/* The pokemon slide loop is managed with 4 instances
 * of the same animation set to different timings over 18 seconds.
 * This is why all have the same time and iteration, but are set to move1-4 animations.
 * Each takes 4.5 seconds and starts off the border of the screen on the left.
 * Until the loop ends they will sit beyond the border on the right and wait
 * for the other monsters to complete their runs. Then the loop resets from
 * the start. 
 * In the HTML the image used can be swapped out to a different image which
 * is how the 'evolution' effect is created on clicking the trainer. The pngs 
 * referenced are simply swapped on the same skeleton html. 
 */
.pogey {
    position: absolute;
    right: 22%;
    bottom: 74%;
    transform: scale(2,2);
    z-index:0;
    animation-duration: 18s;
    animation-iteration-count: infinite;
}

.firstPogey {    
    animation-name: move1;
}

.secondPogey {    
    animation-name: move2;
}

.thirdPogey {     
    animation-name: move3;
}

.fourthPogey {       
    animation-name: move4;
}

@keyframes move1 {
    0% {right: 27%}
    6.25% {right: 92%}
    22.5% {right: 92%}
    25% {right: 160%}
    100% {right:160%}
}

@keyframes move2 {
    0% {right: 27%}
    25% {right:27%}
    31.25% {right: 92%}
    47.25% {right: 92%}
    50% {right: 160%}
    100% {right:160%}
}

@keyframes move3 {
    0% {right: 27%}
    50% {right: 27%}
    56.25% {right: 92%}
    72.5% {right: 92%}
    75% {right: 160%}
    100% {right:160%}
}

@keyframes move4 {
    0% {right: 27%}
    75% {right: 27%}
    81.25% {right: 92%}
    97.5% {right: 92%}
    100% {right: 160%} 
}


#dummy {
    position: absolute;
    background-color: aqua;
    top: -13%;
    right: 55%;
    z-index:999;
}