
#path {
    position: absolute;
    transform: scale(2.5,2.5);
    top:-123%;/*top 37% bottom -123%*/
    left:-20%; 
    
    z-index:0;
    animation-timing-function: linear;
    animation-name: scroll;
    animation-duration: 6.5s;
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {top:100%}
    100% {top: -170%}
}

#trainer {
    position: relative;
    transform: scale(2.8,2.8);
    top:-15%;
    left:84%;
    z-index: 5;
}


#walkMid {
    position: absolute;
    opacity: 1;
    animation-timing-function: linear;
    animation-name: walkMid;
    animation-duration: .8s;
    animation-iteration-count: infinite;
}


@keyframes walkMid {
    0% {opacity: 1}
    24% {opacity: 1}
    25% {opacity: 0}
    49% {opacity: 0}
    50% {opacity: 1}
    74% {opacity: 1}
    75% {opacity: 0}
    100% {opacity: 0}


}

#walkDR {
    position: absolute;
    opacity: 0;
    animation-timing-function: linear;
    animation-name: walkDR;
    animation-duration: .8s;
    animation-iteration-count: infinite;
}


@keyframes walkDR {
    0% {opacity: 0}
    24% {opacity: 0}
    25% {opacity: 1}
    49% {opacity: 1}
    50% {opacity: 0}
}



#walkDL {
    position: absolute;
    opacity: 0;
    animation-timing-function: linear;
    animation-name: walkDL;
    animation-duration: .8s;
    animation-iteration-count: infinite;
}

#GameboyWalking {
    position: absolute;
    right: 23%;
    bottom: -135%;
    transform: scale(1.38,1.27);
    z-index: 3;
}

#GameboyWalking :hover {
    opacity: 0;
}

.lightWalk {
    position: absolute;
    width:15px;
    height:15px;
    bottom:127.2%;
    right:165.9%;
    background-color:red;
    color:red;
    border-radius: 50%;
    z-index: 5;
}

.shineWalk {
    font-size: 60px;
    color: #e60073;
    text-align: center;
    animation: shine 1s ease-in-out infinite alternate;
    z-index: 5;
  }

@keyframes walkDL {
    0% {opacity: 0}
    50% {opacity: 0}
    74% {opacity: 0}
    75% {opacity: 1}
    100% {opacity: 1}
}

#screenHotfix {
    position: fixed;
    background-color: #e8e8e8;
    height: 350px;
    width: 400px;
    left: 30%;
    bottom: 31.1%;
}

